@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", sans-serif;
  /* background: #f8fafc;  <-- Remove or comment this out */
  /* color: #fff;          <-- Remove or comment this out */
  min-height: 100dvh;
  /* scroll-snap-type: y mandatory; */
}

body {
  min-height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/* For extra parallax effect on the background */
.bg-parallax {
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

@layer utilities {
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .animate-blink {
    animation: blink 0.8s ease infinite;
  }

  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }
  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}
